<strong style="font-size:40px">Categorize your email!</strong>

<form method="post">

    <select name="ad">
        <option value="1">It's an ad</option>
        <option value="2">It's not an ad</option>
    </select>

    <select name="phishing">
        <option value="1">It may be phishing</option>
        <option value="2">Not phishing apparently</option>
    </select>

    <select name="sender">
        <option value="1">I don't know who the sender is</option>
        <option value="2">The sender is a contact of mine</option>
    </select>

    <input type="submit" value="Predict">
</form>

<body style="background-color:rgb(0, 206, 209);">
</body>

